body {
    background-color: black;
}
p {
    background: #ffd59e;
    padding: 20px 30px;
    margin: 50px 50px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;

}
.school-quality{
    background-color: rgb(161, 255, 202);
    padding: 20px 30px;
    margin: 50px 200px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;

} 