.place{
    text-align: top left;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
article{
   width: 390px;
   margin: 20px;
   padding: 10px;
   border: 1px solid #ff5a5f;
   border-radius: 4px;
   font-size: 30px;
   text-align: center;
   display: flex;
   z-index: -1;
}
.place > h1{
    width: 100%;
    font-size: 30px;
}
.price_by_night{
    color: #FF5A5F;
border: 3px solid #FF5A5F ;
border-radius: 100%;
width: 60px;
height: 60px;
font-size: 25px;
text-align: center;
line-height: 60px;
position: relative;
left: 325px;
bottom: 100px;  
}
article > .price_by_night {
    display: flex;
    flex-direction: row;
}
.place > article{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.information{
    height: 80px;
    border-top: 1px solid #DDDDDD ;
    border-bottom: 1px solid #DDDDDD ;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 10px;
}
.user{
    position: relative;
    right: 90px;
    font-size: 20px;
    padding: 20px;
}
.discription{
    font-size: 20px;

}
